.container_24 {
  background-image: url(quote($images-path + '/24_col.gif'));
  width: map_get(map_get($grid, 24), width);

  p {
    border: 1px solid $color-borders-main;
    text-align: center;
  }

  @for $i from 1 through 24 {
    .grid_#{$i} {
      width: columns-width(map_get(map_get($grid, 24), width), map_get(map_get($grid, 24), gutter), 24, $i);
      margin: 1em map_get(map_get($grid, 24), gutter) / 2;
      float: left;
    }

    .prefix_#{$i} {
      @include col-prefix($grid, 24, $i);
    }

    .suffix_#{$i} {
      @include col-suffix($grid, 24, $i);
    }

    .push_#{$i} {
      left: column-width(map_get(map_get($grid, 24), width), map_get(map_get($grid, 24), gutter), 24) * $i + map_get(map_get($grid, 24), gutter) * $i;
    }

    .pull_#{$i} {
      left: -1 * (column-width(map_get(map_get($grid, 24), width), map_get(map_get($grid, 24), gutter), 24) * $i + map_get(map_get($grid, 24), gutter) * $i);
    }

    .alpha {
      margin-left: 0;
    }

    .omega {
      margin-right: 0;
    }
  }
}


